<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
<div class="container">
    <div>
        <form action="/admin/add-product" method="POST">
            <div>
                <label for="title">Title</label><br>
                <input type="text" name="title" id="title">
            </div>
            <div>
                <label for="price">Price</label><br>
                <input type="number" name="price" id="price">
            </div>
            <div>
                <label for="description">Description</label><br>
                <textarea name="description" id="description" rows="5"></textarea>
            </div>
            <div>
                <button type="submit">Add Product</button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <br />Products
    <div>
        <ul>
            <% for (var i = 0; i < products.length; i++) { %>
                <li><%= products[i].title %>: <%= products[i].description %>  -  $<%= products[i].price %></li>
            <% } %>
            
        </ul>
        <br />
    </div>
</div>
<div class="container">
    <div>
        <form action="/admin/edit-product" method="POST">
            <div>
                <label for="oldtitle">Old Title</label><br>
                <input type="text" name="oldtitle" id="oldtitle">
            </div>
            <div>
                <label for="utitle">Updated Title</label><br>
                <input type="text" name="utitle" id="utitle">
            </div>
            <div>
                <label for="uprice">Updated Price</label><br>
                <input type="number" name="uprice" id="uprice">
            </div>
            <div>
                <label for="udescription">Updated Description</label><br>
                <textarea name="udescription" id="udescription" rows="5"></textarea>
            </div>
            <div>
                <button type="submit">Update Product</button>
            </div>
        </form>
    </div>
</div>
<br />
<div class="container">
    <div>
        <form action="/admin/delete-product" method="POST">
            <div>
                <label for="deletetitle">Title</label><br>
                <input type="text" name="deletetitle" id="deletetitle">
            </div>
            <div>
                <button type="submit">Delete Product</button>
            </div>
        </form>
    </div>
</div>
<br />
<br />
</body>
</html>