<!DOCTYPE html>
<html>
    <head>
    <% include ../includes/header.ejs %>
    </head>

    <body>
        <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1><%= title %></h1>
            </div>
            <nav>
                <a style="color: #ffffff;" href="/shop">Shop</a> |
                <a style="color: #ffffff;" href="/admin">Manage Products</a> | 
                <a style="color: #ffffff;" href="/login">Sign in</a>
            </nav>
        </div>
        <div class="container">
            <div">
                <div><%= errMessage %></div>
                <form action="/login/login-attempt" method="POST">
                    <div>
                        <label for="email">Email</label><br>
                        <input type="text" name="email" id="email">
                    </div>
                    <div>
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password">
                    </div>
                    <div>
                        <button type="submit" style="margin-top: 10px;">Login</button>
                    </div>
                </form>
                <a href="/create_account">Don't have an account?</a>
            </div>
        </div>

        <br />
        <br />
    </body>
</html>